* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Times, serif;
  color: white;
  background-color: black;
}

.container {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}

.header {
  padding: 2rem;
  margin: 1rem 0px;
  text-align: center;
}

header > .title {
  margin-bottom: 1rem;
}
