*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

header{
text-align: center;
background-color: black;
padding: 20px;
}

header h1{
  font-size: 2rem;
  margin-bottom: 15px;
}

header p{
  font-size: 1rem; 
}

.blockquote{
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  padding-right: 0px;
  max-width: 100%;
  height: 350px;
}

section blockquote{
  font-size: 1.6rem;
  line-height: 35px
  
}

section img{
  width: 250px;
  height: 260px;
}

.bio{
  padding: 0px 25px;
  text-align: start; 
}

.bio h3{
  font-size: 2rem;
  padding: 20px 0px;
}

.bio p{
  font-size: 1.1rem;
  margin-bottom: 20px;
}

footer{
  font-size: 16px;
  text-align: center;
  padding: 25px 0px;
  border-top: 1px solid white;
} 
